body {
  display: flex;
  justify-content: center;
}

.profileDiv {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profileAvatars {
  width: 40%;
}

.avatars {
  border: 2px solid grey;
  border-radius: 50%;
  margin-right: 20px;
}

.contactInfo {
  width: 60%;
  display: flex;
  width: 500px;
  margin-left: 20px;
}
.education_skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.education {
  display: flex;
  width: 100%;
}

#university{
  margin-left: 15px;
}

.skills {
  display: flex;
  width: 100%;
}

#skillsList {
  margin-left: 15px;
}
